{% extends "base.html" %} {% block content %}
<h1>Albums</h1>
<p><a href="{% url 'add_album' %}">Add New Album</a></p>
<div>
  <div class="album-field">
    {% for album in albums %}
    <div class="album-card">
      <h2>{{album.title}}</h2>
      <p>Artist: {{album.artist}}</p>
      <p>Released: {{album.release_year}}</p>
      <p>Added: {{album.created_at}}</p>
      <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br />
      <a href="{% url 'show_album' pk=album.pk%}">Album Details</a>
      <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
